<div>
  <div *ngIf="loading" class="loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  <div class="btn-add-user">
    <app-modal-add></app-modal-add>
  </div>
  <div class="table-user">
    <div style="text-align: center">
      <h1>Welcome to my chanel!</h1>
    </div>
    <table class="table table-striped table-hover table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Age</th>
          <th scope="col">Create Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; index as i" style="cursor: pointer">
          <th scope="row" (click)="openModal(content, item)">{{ i + 1 }}</th>
          <td (click)="openModal(content, item)">
            {{ item.name || "--" }}
          </td>
          <td (click)="openModal(content, item)">
            {{ item?.address || "--" }}
          </td>
          <td (click)="openModal(content, item)">
            {{ item?.age || "--" | number }}
          </td>
          <td (click)="openModal(content, item)">
            {{ item?.createdAt || "--" | date }}
          </td>
          <td (click)="deleteUser(item.id)" class="delete">
            <span>Delete</span>
          </td>
        </tr>
        <tr *ngIf="dataSource?.length === 0">
          <td colSpan="8" style="text-align: center">Không có dữ liệu</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sửa người dùng</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Tên người dùng <span class="validate-err">(*)</span></label>
          </div>
          <div class="input-group col">
            <input
              class="form-control"
              placeholder="Vui lòng nhập tên người dùng"
              formControlName="name"
              #name
            />
            <div
              *ngIf="
                addForm.controls['name'].invalid &&
                (addForm.controls['name'].dirty ||
                  addForm.controls['name'].touched)
              "
              class="validate-err col-12 mt-1"
            >
              <div *ngIf="addForm.controls['name'].errors.required">
                Vui lòng nhập tên người dùng*
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Địa chỉ <span class="validate-err">(*)</span></label>
          </div>
          <div class="input-group col">
            <input
              class="form-control"
              placeholder="Vui lòng nhập địa chỉ"
              formControlName="address"
              #address
              maxlength="200"
            />
            <div
              *ngIf="
                addForm.controls['address'].invalid &&
                (addForm.controls['address'].dirty ||
                  addForm.controls['address'].touched)
              "
              class="validate-err col-12 mt-1"
            >
              <div *ngIf="addForm.controls['name'].errors.required">
                Vui lòng nhập địa chỉ*
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Tuổi <span class="validate-err">(*)</span> </label>
          </div>
          <div class="input-group col">
            <input
              type="number"
              class="form-control"
              placeholder="Vui lòng nhập tuổi"
              formControlName="age"
              #age
            />
            <div
              *ngIf="
                addForm.controls['age'].invalid &&
                (addForm.controls['age'].dirty ||
                  addForm.controls['age'].touched)
              "
              class="validate-err col-12 mt-1"
            >
              <div *ngIf="addForm.controls['age'].errors.required">
                Vui lòng nhập tuổi*
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer" style="justify-content: center">
      <button
        (click)="modal.close('click') + onSubmit()"
        type="submit"
        class="btn btn-danger"
        [disabled]="!addForm.valid"
      >
        Lưu
      </button>
    </div>
  </ng-template>
</div>
