table {
  width: 100%;
}

// .table-user {
//   margin-top: 60px;
// }
.btn-add-user {
  padding-top: 65px;
  display: flex;
  justify-content: flex-end;
}

.table-hover {
  tr:hover {
    background-color: #5788b9;
    color: white;
  }
  .delete:hover {
    color: red;
    font-weight: bold;
  }
}
